click>=7.0
python-igraph
leidenalg~=0.8
pandas~=1.2
numpy
sklearn
scipy
umap-learn
dash
dash_bootstrap_components
dash_core_components
dash_daq
dash_extensions
dash_html_components
dash_table
plotly_express==0.4.1
plotly==4.14.3
