black
cairocffi
click>=7.0
cmake
fastparquet
fa2
flake8
hdbscan
python-igraph
isort
leidenalg~=0.8
matplotlib
networkx
numpy
pandas~=1.2
scipy
seaborn
sklearn
snappy
tensorflow
umap-learn
pytest
pytest-cov
tox