click>=7.0
python-igraph
leidenalg~=0.8
pandas~=1.2
numpy
sklearn
scipy
umap-learn
dash
dash_bootstrap_components
dash_core_components
dash_daq
dash_extensions
dash_html_components
dash_table
plotly.express
plotly.graph_objs
dash.dependencies
dash.exceptions
